body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6d6868;
}


.menu-navegacao {
  background-color: #0f0505;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo {
  color: #d31f1f;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}


.nav-links li a {
  display: inline-block;
  padding: 8px 12px;
  color: #272727;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.nav-links li a:hover {
  background-color: #a00505;
  color: #fff;
}


.nav-links li a.link {
  background-color: #19191a;
  color: #fff;
}

.conteudo {
  padding: 20px;
  text-align: center;
}
